@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--index: calc(1vw + 1vh);
	--transition: 1.5s cubic-bezier(.05, .5, 0, 1);
}
@font-face {
	font-family: kamerik-3d;
	src: url(../fonts/kamerik205-heavy.woff2);
	font-weight: 900;
}
@font-face {
	font-family: merriweather-italic-3d;
	src: url(../fonts/merriweather-regular-italic.woff2);
}
.logo {
	--logo-size: calc(var(--index) * 7.8);
	width: var(--logo-size);
	height: var(--logo-size);
	background-repeat: no-repeat;
	position: absolute;
	left: calc(51% - calc(var(--logo-size) / 2));
	top: calc(var(--index) * 2.8);
	z-index: 1;
}
.layers {
	perspective: 1000px;
	overflow: hidden;
}
.layers__container {
	height: 100vh;
	min-height: 500px;
	transform-style: preserve-3d;
	transform: rotateX(var(--move-y)) rotateY(var(--move-x));
	will-change: transform;
	transition: transform var(--transition);
}
.layers__item {
	position: absolute;
	inset: -5vw;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.layer-1 {
	transform: translateZ(-55px) scale(1.06);
}
.layer-2 {
	transform: translateZ(80px) scale(.88);
}
.layer-3 {
	transform: translateZ(180px) scale(.8);
}
.layer-4 {
	transform: translateZ(190px) scale(.9);
}
.layer-5 {
	transform: translateZ(300px) scale(.9);
}
.layer-6 {
	transform: translateZ(380px);
}
.hero-content {
	font-size: calc(var(--index) * 1.3);
	text-align: center;
	letter-spacing: calc(var(--index) * -.10);
	line-height: 1.35em;
	margin-top: calc(var(--index) * -29);
}
.hero-content span {
	display: block;
}
.hero-content__p {
	text-transform: none;
	font-family: merriweather-italic-3d;
	letter-spacing: normal;
	font-size: calc(var(--index) * .73);
	line-height: 3;
}
.layer-4, .layer-5, .layer-6 {
	pointer-events: none;
}
.button-start:hover {
	transform: scale(1.2);
}
.nav_logo,
.nav_link,
.button {
  color: #000000;
}
.nav_logo {
  font-size: 25px;
}
.nav_item {
  column-gap: 25px;
}
.nav_link:hover {
  color: #000000bb;
}
.nav_link {
  margin: 60px;
}
a {
  position: relative;
  letter-spacing: 0.5px;
  font-size: 21.2px;
  background-color: #ffffffb4;
  padding: 0 10px;
  border-radius: 10px;
  transition: font-size 0.4s linear;
}
a:hover {
  font-size: 28px;
}
a:hover:after {
  width: 100%;
  font-size: 32px;
}
a::before {
  background: hsl(177, 100%, 50%);
  content: "";
  background-color: #ffffffb4;
  position: absolute;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}
a:hover::before {
  transform: scaleX(1);
}
/*Календарь*/
.start_calendar {
    position: absolute;
    left: 10vh;
    height: 75vh;
    color: #000000;
    font-size: 16px;
}
.start_calendar .label-calendar {
	background-color: #ffffffb4;
	border-radius: 5px;
}
.start_calendar .start_calendar_date {
	background-color: #ffffffb4;
	color:#000000;
	border-radius: 5px;
}
::-webkit-calendar-picker-indicator {
	background-color: #0d9f9c;
	padding: 3px;
	cursor: pointer;
	border-radius: 2px;
}
.button {
	appearance: none;
	border: 0;
	border-radius: 4px;
	background: #ffffffb4;
	color: #000000;
	padding: 4px 4px;
	font-size: 16px;
	transition: font-size 0.4s linear;
	border-radius: 10px;
	cursor: pointer;
}
.button:hover {
	background: #3b9593b6;
	font-size: 17px;
	transition: font-size 0.4s linear;
}
.button:focus {
	outline: none;
	box-shadow: 0 0 0 4px #3fa0a7;
}
.checkbox { 
	position: absolute;
	left: 20vh;
	height: 60vh;
	font-size: 20px;
	color: #000000;
	font-family: 'Times New Roman', Times, serif;
	transition: stroke-dashoffset 0.2s ease-out;
}
.checkbox .my-checkbox {
	-webkit-transform:scale(1.5);
	transform: scale(1.5);
	cursor: pointer;
}
.checkbox label {
	margin: 0px 125px 0px 3px;
	background-color: #ffffffb4;
	border: 0px solid transparent;
   	transition: all 0.1s linear;
	border-radius: 5px;
	cursor: pointer;
}
.checkbox label:hover {
	border: 3px solid #d50b0b;
}
.checkbox_1 { 
	position: absolute;
	left: 50vh;
	height: 60vh;
	font-size: 20px;
	padding: 0 10px;
	color: #000000;
	font-family: 'Times New Roman', Times, serif;
	transition: stroke-dashoffset 0.2s ease-out;
}
.checkbox_1 .my-checkbox_1 {
	-webkit-transform:scale(1.5);
	transform: scale(1.5);
	cursor: pointer;
}
.checkbox_1 label {
	margin: 0px 125px 0px 3px;
	background-color: #ffffffb4;
	border: 0px solid transparent;
   	transition: all 0.1s linear;
	border-radius: 5px;
	cursor: pointer;
}
.checkbox_1 label:hover {
	border: 3px solid #d50b0b;
}
.checkbox_2_1 { 
	position: absolute;
	left: 50vh;
	height: 50vh;
	font-size: 20px;
	padding: 15px 10px;
	color: #000000;
	font-family: 'Times New Roman', Times, serif;
	transition: stroke-dashoffset 0.2s ease-out;
}
.checkbox_2_1 .my-checkbox_2 {
	-webkit-transform:scale(1.5);
	transform: scale(1.5);
	cursor: pointer;
}
.checkbox_2_1 label {
	margin: 0px 125px 0px 3px;
	background-color: #ffffffb4;
	border: 0px solid transparent;
   	transition: all 0.1s linear;
	border-radius: 5px;
	cursor: pointer;
}
.checkbox_2_1 label:hover {
	margin-left: 10px;
	border: 3px solid #d50b0b;
}
.checkbox_2_2 { 
	position: absolute;
	left: 50vh;
	height: 40vh;
	font-size: 20px;
	padding: 15px 10px;
	color: #000000;
	font-family: 'Times New Roman', Times, serif;
	transition: stroke-dashoffset 0.2s ease-out;
}
.checkbox_2_2 .my-checkbox_2 {
	-webkit-transform:scale(1.5);
	transform: scale(1.5);
	cursor: pointer;
}
.checkbox_2_2 label {
	margin: 0px 125px 0px 3px;
	background-color: #ffffffb4;
	border: 0px solid transparent;
   	transition: all 0.1s linear;
	border-radius: 5px;
	cursor: pointer;
}
.checkbox_2_2 label:hover {
	margin-left: 10px;
	border: 3px solid #d50b0b;
}  	
.checkbox_2_3 { 
	position: absolute;
	left: 50vh;
	height: 30vh;
	font-size: 20px;
	padding: 15px 10px;
	color: #000000;
	font-family: 'Times New Roman', Times, serif;
	transition: stroke-dashoffset 0.2s ease-out;
}
.checkbox_2_3 .my-checkbox_2 {
	-webkit-transform:scale(1.5);
	transform: scale(1.5);
	cursor: pointer;
}
.checkbox_2_3 label {
	margin: 0px 125px 0px 3px;
	background-color: #ffffffb4;
	border: 0px solid transparent;
   	transition: all 0.1s linear;
	border-radius: 5px;
	cursor: pointer;
}
.checkbox_2_3 label:hover {
	margin-left: 10px;
	border: 3px solid #d50b0b;
}  
.checkbox_2_4 { 
	position: absolute;
	left: 50vh;
	height: 20vh;
	font-size: 20px;
	padding: 15px 10px;
	color: #000000;
	font-family: 'Times New Roman', Times, serif;
	transition: stroke-dashoffset 0.2s ease-out;
}
.checkbox_2_4 .my-checkbox_2 {
	-webkit-transform:scale(1.5);
	transform: scale(1.5);
	cursor: pointer;
}
.checkbox_2_4 label {
	margin: 0px 125px 0px 3px;
	background-color: #ffffffb4;
	border: 0px solid transparent;
   	transition: all 0.1s linear;
	border-radius: 5px;
	cursor: pointer;
}
.checkbox_2_4 label:hover {
	margin-left: 10px;
	border: 3px solid #d50b0b;
}  
.checkbox_2_5 { 
	position: absolute;
	left: 50vh;
	height: 10vh;
	font-size: 20px;
	padding: 15px 10px;
	color: #000000;
	font-family: 'Times New Roman', Times, serif;
	transition: stroke-dashoffset 0.2s ease-out;
}
.checkbox_2_5 .my-checkbox_2 {
	-webkit-transform:scale(1.5);
	transform: scale(1.5);
	cursor: pointer;
}
.checkbox_2_5 label {
	margin: 0px 125px 0px 3px;
	background-color: #ffffffb4;
	border: 0px solid transparent;
   	transition: all 0.1s linear;
	border-radius: 5px;
	cursor: pointer;
}
.checkbox_2_5 label:hover {
	margin-left: 10px;
	border: 3px solid #d50b0b;
} 
.checkbox_3_1 { 
	position: absolute;
	left: 77.5vh;
	height: 50vh;
	font-size: 20px;
	padding: 15px 10px;
	color: #000000;
	font-family: 'Times New Roman', Times, serif;
	transition: stroke-dashoffset 0.2s ease-out;
}
.checkbox_3_1 .my-checkbox_3 {
	-webkit-transform:scale(1.5);
	transform: scale(1.5);
	cursor: pointer;
}
.checkbox_3_1 label {
	margin: 0px 125px 0px 3px;
	background-color: #ffffffb4;
	border: 0px solid transparent;
   	transition: all 0.1s linear;
	border-radius: 5px;
	cursor: pointer;
}
.checkbox_3_1 label:hover {
	margin-left: 10px;
	border: 3px solid #d50b0b;
}
.checkbox_3_2 { 
	position: absolute;
	left: 77.5vh;
	height: 40vh;
	font-size: 20px;
	padding: 15px 10px;
	color: #000000;
	font-family: 'Times New Roman', Times, serif;
	transition: stroke-dashoffset 0.2s ease-out;
}
.checkbox_3_2 .my-checkbox_3 {
	-webkit-transform:scale(1.5);
	transform: scale(1.5);
	cursor: pointer;
}
.checkbox_3_2 label {
	margin: 0px 125px 0px 3px;
	background-color: #ffffffb4;
	border: 0px solid transparent;
   	transition: all 0.1s linear;
	border-radius: 5px;
	cursor: pointer;
}
.checkbox_3_2 label:hover {
	margin-left: 10px;
	border: 3px solid #d50b0b;
}
.checkbox_3_3 { 
	position: absolute;
	left: 77.5vh;
	height: 30vh;
	font-size: 20px;
	padding: 15px 10px;
	color: #000000;
	font-family: 'Times New Roman', Times, serif;
	transition: stroke-dashoffset 0.2s ease-out;
}
.checkbox_3_3 .my-checkbox_3 {
	-webkit-transform:scale(1.5);
	transform: scale(1.5);
	cursor: pointer;
}
.checkbox_3_3 label {
	margin: 0px 125px 0px 3px;
	background-color: #ffffffb4;
	border: 0px solid transparent;
   	transition: all 0.1s linear;
	border-radius: 5px;
	cursor: pointer;
}
.checkbox_3_3 label:hover {
	margin-left: 10px;
	border: 3px solid #d50b0b;
}
.checkbox_3_4 { 
	position: absolute;
	left: 77.5vh;
	height: 20vh;
	font-size: 20px;
	padding: 15px 10px;
	color: #000000;
	font-family: 'Times New Roman', Times, serif;
	transition: stroke-dashoffset 0.2s ease-out;
}
.checkbox_3_4 .my-checkbox_3 {
	-webkit-transform:scale(1.5);
	transform: scale(1.5);
	cursor: pointer;
}
.checkbox_3_4 label {
	margin: 0px 125px 0px 3px;
	background-color: #ffffffb4;
	border: 0px solid transparent;
   	transition: all 0.1s linear;
	border-radius: 5px;
	cursor: pointer;
}
.checkbox_3_4 label:hover {
	margin-left: 10px;
	border: 3px solid #d50b0b;
}
.checkbox_3_5 { 
	position: absolute;
	left: 77.5vh;
	height: 10vh;
	font-size: 20px;
	padding: 15px 10px;
	color: #000000;
	font-family: 'Times New Roman', Times, serif;
	transition: stroke-dashoffset 0.2s ease-out;
}
.checkbox_3_5 .my-checkbox_3 {
	-webkit-transform:scale(1.5);
	transform: scale(1.5);
	cursor: pointer;
}
.checkbox_3_5 label {
	margin: 0px 125px 0px 3px;
	background-color: #ffffffb4;
	border: 0px solid transparent;
   	transition: all 0.1s linear;
	border-radius: 5px;
	cursor: pointer;
}
.checkbox_3_5 label:hover {
	margin-left: 10px;
	border: 3px solid #d50b0b;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 400px; /* Location of the box */
    left: 10px;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow-x: auto;
	overflow-y: scroll; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    position: relative;
    background-color: #ffffffcd;
    margin: auto;
    padding: 0;
    border: 5px solid #000000;
    width: 1525px;
	height: 430px;
	overflow-x: scroll;
	white-space: nowrap;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
@-webkit-keyframes animatetop {
    from {top:-900px; opacity:0} 
    to {top:0; pacity:1}
}
@keyframes animatetop {
    from {top:-900px; opacity:0}
    to {top:0; opacity:1}
}
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-header {
	width: 50%;
    padding: 2px 16px;
    background-color: #0d9f9c;
    color: rgb(0, 0, 0);
}
.modal-body {padding: 2px 16px;}
/*стилт для таблицы*/
table {
	width: 450px;
	border-top: 7px solid rgb(43, 129, 17);
	border-collapse: collapse;
	text-align: center;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
}
td {
	text-align: left;
	padding: 10px;
	border: 3px solid rgb(0, 0, 0);
}
th {
	text-align: center;
	padding: 10px;
	border: 3px solid rgb(0, 0, 0);
}
.modal-header .fullscreen-button {
	appearance: none;
	border: 0;
	border-radius: 4px;
	background: #ffffffb4;
	color: #000000;
	padding: 2px 16px;
	float: right;
	font-size: 16px;
	transition: font-size 0.4s linear;
	border-radius: 10px;
	cursor: pointer;
}
.modal-header .fullscreen-button:hover {
	background: #3b9593b6;
	font-size: 17px;
	transition: font-size 0.4s linear;
}
.modal-header .fullscreen-button:focus {
	outline: none;
	box-shadow: 0 0 0 4px #3fa0a7;
}